.Task #task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Task .details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Task #taskName {
    /* color: #2f7e49; */
    color: #256a3c;
}

.Task #dropdown {
    width: 20px;
}

.Task #dropdown-options {
    background-color: transparent;
    border: none;
    box-shadow: none;

    color: rgb(109, 109, 109);
    font-size: 22px;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

.Task #dropdown-options:hover {
    color: #8C3F0D;
}

.Task #dropdown-options:after {
    display: none;
}

.Task #options {
    background-color: #fffdf6;
}

.Task #option {
    color: #325D41;
}

.Task #option:hover {
    color: #8C3F0D;
    background-color: #fffbf3;
}

.Task .delete i {
    font-size: 20px;
    color: rgb(109, 109, 109);
}

.Task .delete i:hover {
    cursor: pointer;
    color: #8C3F0D;
}