.TabPage {
    position: relative;
}

.TabPage .tab-area {
    margin: 60px 100px;
}

.TabPage .flex-container {
    display: flex;
}

.TabPage .sidebar {
    transition: all 0.5s ease;
    width: 0px;
}

.TabPage .sidebar.open {
    width: 120px;
}

.TabPage .tab-area {
    flex-grow: 1;
}

.TabPage .navigation-buttons {
    text-align: left;
}

.TabPage .toggleBtn {
    display: inline-block;
    margin-right: 10px;
}

.TabPage .toggleBtn i {

    font-size: 32px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;

    color: #254832;
    box-shadow: none;
}

.TabPage .toggleBtn i:hover {
    color: #8C3F0D;
}