.LandingPage .hero {
  width: 55%;
  flex-direction: column;
  font-family: "Playfair Display", serif;
}

.LandingPage .main,
.LandingPage .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.LandingPage .hero h1 {
  font-size: 60px;
  font-weight: 400;
  color: #254832;
}

.LandingPage .hero p {
  font-size: 24px;
  font-weight: 300;
  color: #325d41;
}

.LandingPage .tiles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.LandingPage .tiles .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;

  color: #254832;

  border-radius: 10px;
  padding: 10px 25px 0px 25px;
  transition: all 0.2s ease 0s;
}

.LandingPage .tiles .tile:hover {
  /* cursor: pointer; */
  color: #8c3f0d;
  transform: scale(1.1);
}

.LandingPage .startBtn {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #8c3f0d;
  transition: all 0.2s ease;
  background-color: white;
  color: black;
  letter-spacing: 0.15rem;
  font-size: 1.25rem;
}

.LandingPage .startBtn:hover,
.LandingPage .startBtn:active,
.LandingPage .startBtn:focus,
.LandingPage .startBtn:focus:active {
  background-color: #47825b;
  color: white;
  border-color: #47825b;
  outline: none !important;
  box-shadow: none !important;
}
