/** Affects all modals */ 
.delete-modal {
    background-color: rgba(0, 0, 0, 0.25);
}

.delete-modal .deleteItem {
    text-align: center;
}

.delete-modal .deleteNote {
    color: rgb(94, 94, 94);
}