.ViewProfile {
    
}

.ViewProfile .modal-body {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

.ViewProfile button {
    color: #254832;
    border-color: #8C3F0D;
    background-color: transparent;
}

.ViewProfile button:hover {
    background-color: #47825b;
    color: white;
    border-color: #47825b;
}