.base-timer {
    position: relative;
    height: 400px;
    width: 400px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.base-timer-circle {
    fill: none;
    stroke: none;
}

.base-timer-path-elapsed {
    stroke-width: 7px;
    stroke: currentColor;
}

.base-timer-label {
    position: absolute;

    /*Should match parent container*/
    height: 400px;
    width: 400px;

    top: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 72px;
}

.base-timer-path-remaining {

    /* same as grey ring */
    stroke-width: 7px;

    /* makes sure animation starts at top of circle */
    transform: rotate(90deg);
    transform-origin: center;

    transition: 1s linear all;

    stroke: currentColor;
}

