.Timer {
  height: 90vh;
  display: grid;
  background-color: rgb(237, 238, 238);
}

.Timer .base-timer {
  position: relative;
  height: 400px;
  width: 400px;

  justify-self: center;
  align-self: center;
}

.Timer .base-timer-circle {
  fill: none;
  stroke: none;
}

.Timer .base-timer-path-elapsed {
  stroke-width: 7px;
  stroke: currentColor;
}

.Timer .base-timer-label {
  position: absolute;

  /*Should match parent container*/
  height: 400px;
  width: 400px;

  top: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 72px;
}

.Timer .base-timer-path-remaining {
  /* same as grey ring */
  stroke-width: 7px;

  /* makes sure animation starts at top of circle */
  transform: rotate(90deg);
  transform-origin: center;

  transition: 1s linear all;

  stroke: currentColor;
}

.Timer .base-timer-path-remaining.green {
  color: rgb(65, 184, 131);
}

.Timer .base-timer-path-remaining.orange {
  color: orange;
}

.Timer .base-timer-path-remaining.red {
  color: red;
}

.Timer .controlBtns {
  margin-top: 40px;
}

.Timer .clockBtn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 6px 10px;

  border-radius: 4px;
  border: 1px solid #8c3f0d;
  
  font-family: "Varela", serif;
  font-size: 30px;
  font-weight: 300;
  color: #254832;
  cursor: pointer;

  box-shadow: 1px 7.3px 0px 0px rgba(0,0,0,0.61);
  
  transition: all 0.2s ease;
  /* transition-property: background-color, color, border-color, transform;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease;
  transition-delay: 0s, 0s, 0s, 0.2s; */
  /* transition: all 0.2s ease; */
}


.Timer .clockBtn.paused:active {
    transform: translateY(5px);
    box-shadow: none;
}

.Timer .clockBtn.stopped:active {
    box-shadow: none;
    transform: translateY(5px);
}

.Timer .clockBtn.started {
    box-shadow: none;
    transform: translateY(5px);
}

.Timer .clockBtn.stopped:hover {
  background-color: #47825b;
  color: white;
  border-color: #47825b;
}

.Timer .clockBtn.started:hover {
  background-color: rgb(236, 78, 78);
  color: white;
  border-color: rgb(235, 61, 61);
}

.Timer .clockBtn.paused:hover {
  background-color: rgb(65, 184, 131);
  color: white;
  border-color: #47825b;
}

.Timer .btnTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    bottom: 0px;

    transition: all;
}

.Timer .clockBtn.paused:active .btnTextContainer {
    box-shadow: none;
}

.Timer .clockBtn.clockBtn.started .btnTextContainer {
    box-shadow: none;
}


.Timer .resetButton {
  display: inline-block;
  position: absolute;
  width: 50px;
  font-size: 36px;
  margin-left: 60px;
  /* margin-left: 7.8vh; */
  margin-top: 6px;
  border-radius: 100%;
  opacity: 0%;

  transition: all 0.7s ease;
}

.Timer .resetButton.started {
  opacity: 100%;
}

.Timer .resetButton:hover {
  cursor: pointer;
  background-color: rgb(216, 214, 214);
}

.Timer .resetButton i {
  transition: all 0.3s ease;
}

.Timer .hidden {
  display: none;
}



@media all and (max-width: 450px) {
  .Timer .base-timer {
    height: 300px;
    width: 300px;
  }
  
  .Timer .base-timer-label {
    height: 300px;
    width: 300px;

    font-size: 48px;
  }

  .Timer .resetButton {
    margin-left: 40px;
  }
}

@media all and (max-width: 320px) {
  .Timer .base-timer {
    height: 250px;
    width: 250px;
  }
  
  .Timer .base-timer-label {
    height: 250px;
    width: 250px;
 
    font-size: 48px;
  }

  .Timer .resetButton {
    margin-left: 18px;
  }
}