.MainTab .card {
    width: 150px;
    height: 150px;
    transition: all 0.4s ease 0s;
}

.MainTab .card .closeBtn {
    float: right;
    padding: 5px;
    padding-right: 8px;
}

.MainTab .card a {
    text-decoration: none;
    color:rgb(0, 115, 255);
}

.MainTab .card:hover {
    cursor: pointer;
    border: 1px solid rgb(0, 115, 225);
    transform: scale(1.04);
}