/** Affects all modals */

.modal-area {
    background-color: rgb(255, 255, 248);
    color: #2A3A30;
}

.modal-header .close {
    margin: 0;
    padding: 0;
    padding-right: 5px;
    text-align: right;
    font-size: 23px;
}

.modal-header .close:hover {
    color: #8C3F0D;
    background-color: transparent;
}

.modal .input-field {
    background-color: #fffdf6;
    box-shadow: none;
    border-color: #47825b;
    color: #325D41;

    margin-bottom: 15px;
}

.modal-button {
   text-align: right;
}

.modal-button .button {
    /* width: 120px; */
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: none;

    color: #254832;
    border-color: #8C3F0D;
    background-color: transparent;
}

.modal-button .button:hover,
.modal-button .button:active,
.modal-button .button:focus, 
.modal-button .button:focus:active {
    background-color: #47825b;
    color: white;
    border-color: #47825b;
}

.modal-button .del-button {
    background-color: transparent;
    color: rgb(101, 101, 101);
    border-color: rgb(109, 109, 109);
}

.modal-button .del-button:hover,
.modal-button .del-button:active,
.modal-button .del-button:focus, 
.modal-button .del-button:focus:active {
    background-color: rgb(109, 109, 109);
    color: white;
    border-color: rgb(109, 109, 109);
}