/** Affects all modals */

.modal-area {
    background-color: rgb(255, 255, 248);
    color: #2A3A30;
    border-radius: 10px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header .close {
    margin: 0;
    padding: 0;
    padding-right: 5px;
    text-align: right;
    font-size: 23px;
}

.modal-header .close:hover {
    color: #8C3F0D;
    background-color: transparent;
}

.modal .input-field {
    background-color: #fffdf6;
    box-shadow: none;
    border-color: #47825b;
    color: #254832;

    margin-bottom: 15px;
}

.modal .input-field:hover {
    border: 2px solid #47825b;
}

.modal-button {
   text-align: right;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.modal-footer #option {
    padding: 0px 10px;
    font-size: 17px;
}

.modal-footer #option:hover {
    color: #8C3F0D;
    cursor: pointer;
}

.modal-button .button {
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: none;

    color: #254832;
    border-color: #8C3F0D;
    background-color: transparent;
}

.modal-button .button:hover,
.modal-button .button:active,
.modal-button .button:focus, 
.modal-button .button:focus:active {
    background-color: #47825b;
    color: white;
    border-color: #47825b;
}

/** Cancel Button */
.modal-button .cancel-button {
    background-color: transparent;
    color: rgb(101, 101, 101);
    border-color: rgb(109, 109, 109);
}

.modal-button .cancel-button:hover,
.modal-button .cancel-button:active,
.modal-button .cancel-button:focus, 
.modal-button .cancel-button:focus:active {
    background-color: rgb(109, 109, 109);
    color: white;
    border-color: rgb(109, 109, 109);
}

/** Delete Button */
.modal-button .del-button {
    color: #254832;
    border-color: #8C3F0D;
    background-color: transparent;
}

.modal-button .del-button:hover,
.modal-button .del-button:active,
.modal-button .del-button:focus, 
.modal-button .del-button:focus:active {
    background-color: #a01515;
    color: white;
    border-color: #d02828;
}