.ToDo {
    margin: 10px;
    padding: 20px;
    border: 1px solid #B48125;
    border-radius: 10px;
    height: 28vh;
    overflow-y: auto;
}

.ToDo .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ToDo .title .compName h6 {
  font-size: 20px;
  margin: 0;
}

.ToDo .title .addBtns {
  font-size: 26px;
  display: flex;
}

.ToDo .title .addSubBtn i {
  padding-right: 15px;
  color: #8c3f0d;
}

.ToDo .title .addSubBtn i:hover {
  color: #325d41;
  cursor: pointer;
}

.ToDo .title .addTaskBtn i {
  color: #325d41;
}

.ToDo .title .addTaskBtn i:hover {
  color: #8c3f0d;
  cursor: pointer;
}

.ToDo .task-area {
  margin: 0 5px;
}
