.NavBar .navbar {
    user-select: none;
}

.NavBar .links .linkText,
.NavBar .links .linkBtn {
    font-family: "Varela", serif;
    font-size: 16.5px;
    font-weight: 300;
    color: #254832;
    margin: 0;
}


/* this is temp until we have a logo */
.NavBar h5 {
    color: #254832;
    font-weight: 400;
    margin: 0;
}

/* this is temp until we have a logo */
.NavBar .logo {
    color: #254832;
    font-family: "Playfair Display", serif;
    font-size: 23px;
    font-weight: 600;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.NavBar h6 {
    padding: 6px 10px;
}

.NavBar .linkBtn {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #8C3F0D;
    transition: all 0.2s ease 0.2s;
}

.NavBar .linkBtn:hover {
    background-color: #47825b;
    color: white;
    border-color: #47825b;
}


/* TIMER */

.NavBar .base-timer {
    height: 50px;
    width: 50px;
}

.NavBar .base-timer-circle {
    fill: none;
    stroke: none;
}

.NavBar .base-timer-path-elapsed {
    stroke-width: 10px;
    stroke: currentColor;
}

.NavBar .base-timer-label {
    /*Should match base-Timer*/

    top: 0px;

    align-items: center;
    justify-content: center;

    font-size: 14px;
}

.NavBar .base-timer-path-remaining {

    /* same as grey ring */
    stroke-width: 10px;

    /* makes sure animation starts at top of circle */
    transform: rotate(90deg);
    transform-origin: center;

    transition: 1s linear all;

    stroke: currentColor;
}

.NavBar .base-timer-path-remaining.green {
    color: rgb(65, 184, 131);
}

.NavBar .base-timer-path-remaining.orange {
    color: orange;
}

.NavBar .base-timer-path-remaining.red {
    color: red;
}