.Notes {
    margin: 10px;
    margin-left: 20px;
    padding: 20px 40px; /* 20 px */
    border: 1px solid #B48125;
    border-radius: 10px;
    height: 59vh;
    overflow-y: auto;
}

.Notes .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    margin-bottom: 20px;
}

.Notes .title .compName h6 {
    font-size: 20px;
    margin: 0;
}

.Notes .title .addBtn i  {
    font-size: 25px;
    color: #256a3c;
}

.Notes .title .addBtn i:hover {
    color: #2A3A30;
    cursor: pointer;
}


/** Notes */

/* .Notes .card {
    border: 1px solid #256a3c;
} */

.Notes .accordion>.card>.card-header {
    background-color: #fffbf3;
    color: #8C3F0D;
}

.Notes .card-body {
    background-color: #FFFDF6;
    border-top: 1px solid rgba(0,0,0,.125);
    color: #254832;
}

