.SideBar {
    position: fixed;
}

.SideBar .my-menu-class {
    border: solid;
}

.SideBar .menuBtn {
    display: flex;
    justify-content: flex-start;
}

.SideBar .bi-chevron-right {
    font-size: 18px;
}