.SideBar {
    height: 100%;
    display: block;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 25px;

    width: 180px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

    border: 1px solid #8C3F0D;
}

.SideBar.closed {
    width: 0px;
    border: transparent;
}

.SideBar .content-wrapper {
    display: flex;
    flex-direction: column;
}


.SideBar .my-menu-class {
    display: block;
    opacity: 100%;
}

.SideBar.closed .my-menu-class {
    opacity: 0%;
}

.SideBar .toggleBtn {
    text-align: end;
    display: inline-block;
}


.SideBar .toggleBtn i {
    height: 32px;

    font-size: 32px;
    font-weight: 400;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;

    color: #254832;
    /* border-color: #8C3F0D; */
    /* background-color: transparent; */
    box-shadow: none;

    transition-property: marigin-right, margin-left, transform;
    transition-duration: 0.2s, 0s, 0.2s;
    transition-delay: 0.1s, 0.3s, 0s;
}

.SideBar .toggleBtn i:hover {
    /* background-color: #47825b; */
    color: #8C3F0D;
    /* border-color: #47825b; */
}

.SideBar.closed .toggleBtn i {
    margin-right: 0px;
    margin-left: 30px;
}