.SubTab #checkbox {
}

.SubTab #subtabName {
    transition: all 0.4s ease 0s;
    text-align: left;
    background-color: #fffdf6;
    color: #8C3F0D;
}

/* .SubTab #subtabName:hover {
    background-color: white;
} */

/* .SubTab .delete i {
    font-size: 20px;
    color: rgb(109, 109, 109);
}

.SubTab .delete i:hover {
    cursor: pointer;
    color: #8C3F0D;
} */