/** Editor */

.AddNote .editor {
  border: 1px solid #47825b;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 25px;
  min-height: 400px;
}

.AddNote .rdw-editor-main {
  color: #254832;
}

/** Toolbar */

.AddNote .rdw-editor-toolbar {
  background-color: #fffdf6;
  border-radius: 4px;
  color: #2a3a30;
  padding: 8px;
}

.AddNote .rdw-editor-toolbar input {
  color: #325d41;
}

.AddNote .rdw-option-wrapper {
  height: 26px;
  width: 26px;
}

.AddNote .rdw-option-wrapper:hover,
.AddNote .rdw-option-active {
  border-color: #8c3f0d;
  box-shadow: none;
}

.AddNote .rdw-dropdown-wrapper:hover {
  border-color: #8c3f0d;
  box-shadow: none;
}

.AddNote .rdw-editor-toolbar span {
  color: #8c3f0d;
}

/** Color Picker */

.AddNote .rdw-colorpicker-modal-options {
  margin-left: 8px;
}

.AddNote .rdw-colorpicker-modal-style-label {
  padding: 0;
  padding-bottom: 5px;
}

.AddNote span .rdw-colorpicker-option {
  box-shadow: none;
}

.AddNote span .rdw-colorpicker-cube {
  transition: all 0.4s ease 0s;
  box-shadow: none;
}

.AddNote span .rdw-colorpicker-cube:hover {
  transform: scale(1.02);
  border-color: #2a3a30;
}

/** Link */

.AddNote .rdw-link-modal {
  height: 240px;
}

/** Embedded Link */

.AddNote .rdw-embedded-modal {
  height: 210px;
}

.public-DraftEditor-content {
  min-height: 260px;
  display: block;
}
