.Breadcrumbs .backBtn, 
.Breadcrumbs .forwardBtn {
    display: inline-block;
    
    height: 32px;

    font-size: 32px;
    font-weight: 400;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;

    color: #254832;
    box-shadow: none;
}

.Breadcrumbs .backBtn:hover,
.Breadcrumbs .forwardBtn:hover {
    color: #8C3F0D;
}

.Breadcrumbs .backBtn:active,
.Breadcrumbs .forwardBtn:active {
    transform: translateY(1px);
}